@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

/* -----Reset----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
}

.container {
    position: absolute;
    margin: 20px;
    width: auto;
    line-height: 1;
  }
  
.topnav {
    overflow: hidden;
    background-color: rgb(252, 252, 252);
    float: right;
  }
  
.topnav a.active {
    background-color: #29f544;
    color: rgb(0, 0, 0);
  }
  /* Navbar links */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

/* a tag off all */
a{
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease-in;
}
/* Span tag added */
span:hover{
    color:#ffffff
}

/* menu line started */
.menu {
  position: relative;
}
.menu h1{
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in;
    color: aliceblue;
}
.menu h4{
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in;
    color: aliceblue;
}
.menu h1:hover{
    transform: scale(1.1);
    margin: auto;
    color: #2af85d;
}
.menu{
    background-image: url("https://telegra.ph/file/ccbc36c7f3b9d7c56425a.jpg");
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.menu > img{
    border-radius: 100px;
    border: 5px solid rgb(255, 255, 255);
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}
.menu h3{
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
    color: aliceblue;
}
/* menu end */

/* My languages started */
.langugaes > h1{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.row {
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
  }
  
  /* Create three equal columns that sits next to each other */
.coloum {
    flex: 33.33%;
    margin-left: 0;
    margin-right: 0;
    padding: 1rem 2rem 3.5rem 2rem;
    text-align: center;
    font-size: 1.15rem;
  }
.lang-img{
    width: 100%;
}
/* footer line */
footer{
    background-color: rgb(37, 37, 37);
}
.credits{
    text-align: right;
    color: aliceblue;
    padding-right: 1rem;
    padding: 1rem 1rem 1.5rem 0rem;
}
#footer-a{
    color: rgb(111, 253, 45);
}
/* snake item herr */
#img-snake:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
/* social icons */
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */

/*
.icon-bar {
    position: fixed;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: rgb(80, 82, 80);
  }
 /*
  .telegram {
    background: #55ACEE;
    color: white;
  }
  
  .instagram {
    background: #f040bb;
    color: white;
  }
  
  .github {
    background: #282929;
    color: white;
    
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
*/

/*Social Icons*/
.fa-telegram {
    background: rgb(242, 249, 250);
    color: rgb(34, 158, 217);
    border: rgb(67, 219, 230);
    border-radius: 50px;
    transition: transform 0.05s;
}
.fa-telegram:hover {
    transform: scale(1.2);
}
.fa-youtube {
    color: #ff0000;
    transition: transform 0.05s;
}
.fa-youtube:hover {
    transform: scale(1.2);
}
.fa-instagram {
    color: transparent;
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    background: -webkit-radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
    transition: transform 0.05s;
}
.fa-instagram:hover {
    transform: scale(1.2);
}
.fa-github {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: rgb(255, 255, 255);
    border-radius: 50px;
    transition: transform 0.05s;
}
.fa-github:hover {
    transform: scale(1.2);
}
.icon-bar {
    page-break-inside: auto;
    display: flex;
    align-items: center;
    padding: 1.75rem 1.25rem 0.5rem 1.25rem;
    justify-content: space-evenly;
    font-size: 1.35rem;
  }

#about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .credits {
    padding-top: 2rem;
  }
}
